body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:#fff;
  text-align:center;
}

h1{
  margin:15px 0;
  font-size:28px;
}

.top-banners{
  display:flex;
  justify-content:center;
  gap:10px;
  padding:5px;
}

.banner{
  width:48%;
  min-height:60px;
}

.balance-box{
  margin:15px;
  font-size:22px;
  background:#1e293b;
  padding:10px;
  border-radius:8px;
}

.buttons button{
  width:80%;
  padding:15px;
  margin:10px auto;
  font-size:20px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  color:#000;
  display:block;
}

#clickBtn{
  background:#facc15;
}

.withdraw-box{
  margin:20px;
  padding:15px;
  background:#1e293b;
  border-radius:10px;
}

.withdraw-box input,
.withdraw-box select{
  width:90%;
  padding:10px;
  margin:5px 0;
  font-size:16px;
}

.withdraw-box button{
  padding:12px;
  width:90%;
  font-size:18px;
  background:#38bdf8;
  border:none;
  border-radius:8px;
}

.modal{
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

.modal-content h2{
  font-size:40px;
}

.modal-content button{
  padding:10px 20px;
  font-size:18px;
}

.bottom-push{
  position:fixed;
  bottom:0;
  width:100%;
}
