body{
  font-family:Arial;
  background:#eef3ff;
  text-align:center;
}

h1{
  color:#2563eb;
}

.banner{
  margin:8px;
}

.box{
  margin:15px;
}

button{
  padding:12px 25px;
  font-size:18px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
}

#modal{
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:white;
  padding:20px;
  border:2px solid #333;
  z-index:9999;
}

.withdraw{
  background:white;
  padding:15px;
  border-radius:10px;
  margin:20px;
}

.withdraw input{
  width:90%;
  padding:8px;
  margin:6px;
  font-size:16px;
}
