body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background: #f0f8ff;
}

header {
  background: #4CAF50;
  color: white;
  padding: 15px 0;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

footer {
  margin-top: 20px;
}

#floatingBtnContainer button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: orange;
}
